
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="LoL Human">
    <title>ISLAMIC - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="ISLAMIC APIs">
    <meta property="og:title" name="og:title" content="ISLAMIC - REST APIs">
    <meta property="og:url" name="og:url" content="https://api-islam-vocka.herokuapp.com/">
    <meta property="og:image" name="og:image" content="/static/icon/android-icon-192x192.png">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-icon-180x180.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://api.lolhuman.xyz/">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/nucleo-icons.css">
    <link rel="stylesheet" href="/static/fontawesome5/css/all.min.css">
    <link rel="stylesheet" href="/static/flaticon/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="/static/css/black-dashboard.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="dark-mode" data-background-color="dark">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper card-round">
                <div class="logo text-center">
                    <a href="/" class="simple-text logo-normal" style="font-size: large;">
                        ISLAMIC-APIs
                    </a>
                </div>
                <ul class="nav">
                    <li class="active" >
                        <a href="/">

                            <p>HOME</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/tahlil">
                       <!--     <i class="fi-rr-money"></i>-->
                            <p>TAHLIL</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/wirid">
                            
                            <p>WIRID</p>
                        </a>
                    </li>
                    <hr>
                    <li >
                        <a href="api/data/json/ayatkursi">
                            
                            <p>AYAT KURSI</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/doaharian">
                            
                            <p>DO'A HARIAN</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/bacaanshalat">
                            
                            <p>BACAAN SHALAT</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/niatshalat">
                            
                            <p>NIAT SHOLAT</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/asmaulhusna">
                            
                            <p>ASMA'UL HUSNA</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/niatshubuh">
                            
                            <p>NIAT SHALAT SHUBUH</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/niatdzuhur">
                            
                            <p>NIAT SHOLAT DZUHUR</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/niatashar">
                            
                            <p>NIAT SHOLAT ASHAR</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/niatmaghrib">
                            
                            <p>NIAT SHOLAT MAGHRIB</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/niatisya">
                            
                            <p>NIAT SHOLAT ISYA</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/gambar">
                            
                            <p>IMAGE ISLAMI</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/json/kisahnabi?nabi=muhammad">
                            
                            <p>KISAH NABI</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/hadith?kitab=bukhari&nomor=52">
                            
                            <p>HADITS</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/masjid?provinsi=aceh&page=masjid">
                            
                            <p>MASJID</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/masjid/list-provinsi">
                            
                            <p>LIST MASJID</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/quran?surah=1&ayat=2">
                            
                            <p>AYAT AL-QUR'AN</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/quotes">
                            
                            <p>QUOTES</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/asmaulhusna">
                            
                            <p>ASMAUL HUSNA RANDOM</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/jadwalshalat?kota=jakarta">
                            
                            <p>JADWAL SHOLAT</p>
                        </a>
                    </li>
                    <li >
                        <a href="api/data/jadwalshalat/listkota">
                            
                            <p>LIST KOTA</p>
                        </a>
                    </li>
                    <li style="margin-bottom: 8rem !important;" >
                        <a href="/author">
                            <i class="fi-rr-tooth"></i>
                            <p>Other</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
       
            <footer class="footer fixed-bottom">
                <div class="copyright text-center my-auto">
                    Made with <i class="fa fa-heart"></i> by
                    <a href="https://linknge.com/VOCKA_id" target="_blank" rel="nofollow">Vocka Collection </a>
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/js/core/jquery.min.js"></script>
    <script src="/static/js/core/popper.min.js"></script>
    <script src="/static/js/core/bootstrap.min.js"></script>
    <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/js/plugins/bootstrap-notify.js"></script>
    <script src="/static/js/black-dashboard.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>

</html>

</html>
