<!DOCTYPE html>
<html lang="en">
<head>
     <title>Islamic Api - Ground67</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="Marhaban Ya Ramadhan !">
     <meta name="keywords" content="Islamic, Islamic data, Muslim, Prayer Times, Qur'an Api, Hadits Api">
     <meta name="author" content="Gak ada Author, FREE FOR ALL">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">
     <link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
              Islamic Api Free
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Penjelasan</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://linknge.com/Vocka" class="nav-link contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Free Public Api For EveryOne </h1>

                                   <a href="/api" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100"> Docs Here 🕌</a>
                                   <a href="api/data/json/tahlil" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Tahlil </a>
                                   <a href="api/data/hadith?kitab=bukhari&nomor=52" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Hadits </a>
                                   <a href="api/data/json/kisahnabi?nabi=adam" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Kisah Nabi</a>
                                   <a href="api/data/masjid?provinsi=aceh&page=masjid" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Masjid </a>
                                   <a href="api/data/masjid/list-provinsi" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">List Provinsi Masjid</a>
                                   <a href="api/data/quran?surah=1&ayat=2" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Qur'an Detail</a>
                                   <a href="api/data/json/quran" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Qur'an</a>
                                   <a href="api/data/json/wirid" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Wirid</a>
                                   <a href="api/data/json/ayatkursi" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Ayat Kursi</a>
                                   <a href="api/data/json/doaharian" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Doa Harian</a>
                                   <a href="api/data/json/bacaanshalat" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Bacaan Shalat</a>
                                   <a href="api/data/json/niatshalat" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Niat Shalat</a>
                                   <a href="api/data/json/asmaulhusna" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Asmaul Husna</a>
                                   <a href="api/data/json/niatshubuh" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Niat Shalat Subuh</a>
                                   <a href="api/data/json/niatdzuhur" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Niat Shalat Dzuhur</a>
                                   <a href="api/data/json/niatmaghrib" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Niat Shalat Maghrib</a>
                                   <a href="api/data/json/niatisya" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Niat Shalat Isya</a>
                                   <a href="api/data/json/niatashar" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Niat Shalat Ashar</a>
                                   <a href="api/data/json/gambar" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Image Islami</a>
                                   <a href="api/data/quotes" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Quotes Islami</a>
                                   <a href="api/data/jadwalshalat?kota=jakarta" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Jadwal Sholat</a>
                                   <a href="api/data/jadwalshalat/listkota" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Jadwal Sholat List</a>
                                   <a href="api/data/asmaulhusna" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Asmaulhusna Random</a>
                                  
                                  <br>
                                  <br><center>
                                  <a href="/author" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100"> BISSMILLAH</a></center>

                                 <!--  <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> Call Center</strong>-->
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="images/masjid.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>

     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">The Biggest <strong>Islamic Data</strong> In Indonesian</h2>

                              <p class="mb-0" data-aos="fade-up">Islamic Api V2 adalah Api yang berisi data2 islami yang lebih lengkap daripada versi sebelumnya, yaitu Api Islamic yang pernah saya buat sebelumnya, silakan check di github <a href="https://github.com/zhirrr/islamic-rest-api-indonesian">Berikut</a> Ini
                              <br><br>Dan kalian juga <strong>Boleh</strong> memakai Api ini secara <strong>Gratis</strong> dan tanpa biaya <strong>Sepeser</strong> pun, juga tanpa memakai <strong>Apikey</strong></p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                         	<br>
                          <img src="images/keluarga.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Banyak Fitur2 Islami Dalam
                            <strong>Satu Api</strong>
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="images/tahiyad.png" class="img-fluid">
                                   <div class="project-info">
                                   	<h3>
                                   	Bacaan Shalat
                                   </h3>
                                  
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/sujud.png" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                        	Doa-Doa Harian
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/sujud2.png" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                        	Doa-Doa Tahlil
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/sujud3.png" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                             Kisah Nabi Dan Rasul
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/berdoa.png" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                             Dan Lain-Lain
                                        </h3>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="images/rasul.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Rasulullah S.A.W Bersabda</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">"Barangsiapa yang menunjuki kepada kebaikan maka dia akan mendapatkan pahala seperti pahala orang yang mengerjakannya".</h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Rasulullah S.A.W</strong>
                      </p>
                    </div>

               </div>
          </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">"Kami akan membuat banyak <strong>Karya</strong> yang bisa digunakan banyak <strong>Orang</strong>"</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              
            </p>
            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                ground6767@gmail.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Jakarta, Indonesia
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2021 CreativeTeamsID
            <br>
            Made With ♥️ By CreativeTeamsID <br>
            ReUpload by: Ground67 </p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            <br>Special-Thx
            <ul class="footer-link">
              <li><a href="#">Allah S. W. T</a></li>
              <li><a href="#">Zhirrr</a></li>
              <li><a href="#">Ground67</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>
